<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Android 11+ 패키지 가시성: 카드사/결제 앱 실행을 위해 필요 (토스 웹뷰 연동 가이드) -->
    <queries>
        <!-- 간편결제 -->
        <package android:name="com.kakao.talk" /> <!-- 카카오페이 -->
        <package android:name="viva.republica.toss" /> <!-- 토스페이 -->
        <package android:name="com.nhn.android.search" /> <!-- 네이버페이 -->
        <package android:name="com.samsung.android.spay" /> <!-- 삼성페이 -->
        <package android:name="com.kftc.bankpay" /> <!-- 뱅크페이 -->
        <!-- 카드사 앱카드 -->
        <package android:name="com.hyundaicard.appcard" /> <!-- 현대카드 -->
        <package android:name="kr.co.samsungcard.mpocket" /> <!-- 삼성카드 -->
        <package android:name="com.shinhan.smartcaremgr" /> <!-- 신한카드 -->
        <package android:name="com.kbcard.cxh.appcard" /> <!-- KB Pay -->
        <package android:name="com.lcacApp" /> <!-- 롯데카드 -->
        <package android:name="com.hanaskcard.paycla" /> <!-- 하나카드 -->
        <package android:name="com.wooricard.wcard" /> <!-- 우리카드 -->
        <package android:name="com.nh.android.nhappcardm" /> <!-- NH농협카드 -->
        <package android:name="kvp.jjy.MispAndroid320" /> <!-- ISP/페이북 -->

        <!-- 카드사 앱 스킴 가시성: Android 11+에서 resolveActivity() 없이 startActivity try-catch와 함께 사용 -->
        <!-- ISP/페이북 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="ispmobile" />
        </intent>
        <!-- 현대카드 (공식: hdcardappcardansimclick, smhyundaiansimclick) -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="hdcardappcardansimclick" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="smhyundaiansimclick" />
        </intent>
        <!-- 신한카드 (공식: shinhan-sr-ansimclick, smshinhanansimclick) -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="shinhan-sr-ansimclick" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="smshinhanansimclick" />
        </intent>
        <!-- KB Pay -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="kb-acp" />
        </intent>
        <!-- 롯데카드 (공식: lottesmartpay, lotteappcard) -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="lottesmartpay" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="lotteappcard" />
        </intent>
        <!-- 하나카드 (공식: cloudpay, hanawalletmembers; 기존 hanamopmoasign 유지) -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="cloudpay" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="hanawalletmembers" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="hanamopmoasign" />
        </intent>
        <!-- 삼성카드 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="mpocket.online.ansimclick" />
        </intent>
        <!-- 우리카드 (공식: com.wooricard.wcard, newsmartpib) -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="com.wooricard.wcard" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="newsmartpib" />
        </intent>
        <!-- NH농협카드 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="nhappcardansimclick" />
        </intent>
        <!-- 씨티카드 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="citimobileapp" />
        </intent>
        <!-- 카카오페이 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="kakaotalk" />
        </intent>
        <!-- 토스페이 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="supertoss" />
        </intent>
        <!-- 네이버페이 (공식: naversearchthirdlogin; naversearchapp 유지) -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="naversearchthirdlogin" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="naversearchapp" />
        </intent>
        <!-- 삼성페이 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="samsungpay" />
        </intent>
        <!-- 뱅크페이 -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="bankpay" />
        </intent>
        <!-- PAYCO -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="payco" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode|navigation|density"
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBarLaunch"
            android:launchMode="singleTask"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- 토스페이먼츠 appScheme: 페이북/ISP·카드사 앱에서 결제 후 상점 앱 복귀용 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="moveitapp" android:host="*" android:pathPrefix="/" />
            </intent-filter>

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
</manifest>
